{% extends "base.html"%}

{% block content%}
<h1><i>Main {{name_html}}</i></h1>
{% for animal in animals%}
<ul>
    <li><h1> <a href="/detail/{{animal.animals.id}}">{{animal.animals.name}}</a> </h1></li>
    <li><img src="{{url_for('static',filename=animal.animals.img)}}"></li>
     <li><p>{{animal.animals.description}}</p></li>
     <li><p>{{animal.animals.data}}</p></li>
    <li><p>{{animal.animals.user_id}}</p></li>
    <br>
    <form action="{{url_for('delete_animal',post_id=animal.animals.id)}}" method="post">
        <button type="submit" >delete</button>
    </form>
    <button type="submit" ><a href="{{url_for('edit_animal',post_id=animal.animals.id)}}">edit</a></button>
    {% if current_user.is_authenticated %}
    <form action="{{url_for('like',post_id=animal.animals.id)}}" method="post">
        {% if animal.is_liked %}
        <button type="submit" >❤️ {{animal.animals.likes.count()}}</button>
        {% else %}
        <button type="submit" >🖤 {{animal.animals.likes.count()}}</button>
        {% endif %}
    </form>
    {% endif %}
</ul>
{% endfor%}
<p>my <b>first</b> page</p>
<img src="static/Homebild.jpeg" width="400">
<br>
<a href="/about">about me</a>
<br>
<a href="/contact">my contacts</a>
{% endblock%}